<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Author' %><br />
    <%= :author_id %>
    <%= 
    @author_list = Author.find_all_by_id(1)
    @a_name_id = []
    @author_list.each do |author|
      @a_name_id.push( [author.username, author.id] )
    end
    select_tag :author_id, options_for_select(@a_name_id), :style => 'width:250px'
    %>
    
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, rows: 6, cols: 50 %>
  </div>

  

<!--
  <div class="field">
    <%= f.label :edit_count %><br />
    <%= f.number_field :edit_count %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.number_field :author_id %>
  </div>
-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
