<p id="notice"><%= notice %></p>
<h1>Editing "<%= truncate(@article.title, :length=>25, :omission=>'...')  %>"</h1>
<div class="spacer"></div>
<%= render 'form' %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
