<% content_for :subtitle do %>
  Authors List
<% end %>
<h1>All the World's Authors</h1>
<%= link_to 'Create Author', new_author_path, title: 'New Author' %>

<!--<div class="article" style="width:786px;">-->
<table style="width:100%;">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<!--</table>
</div>
<div class="article" id="scroll_table">
<table style="width:100%;">-->
<% @authors.each do |author| %>
  <tr>
    <td><%= author.username %></td>
    <td><%= author.email %></td>
    <td><%= link_to 'Shw', author, title: 'Show Author' %></td>
    <td><%= link_to 'Edt', edit_author_path(author), title: 'Edit Author' %></td>
    <td><%= link_to 'Del', author, confirm: 'Are you sure?', method: :delete, title: 'Delete Author' %></td>
  </tr>
<% end %>
</table>
<!--</div>-->



