= content_for :subtitle do
  Authors List

%p#notice
  =notice



%div.double
  %div.half
    %h1
      All the World's Authors
  %div.half
    = link_to get_icon_create+'Create Author', new_author_path, title: 'New Author'

%table#mainList
  %thead
    %tr
      %th
        Username
      %th
        Email
      %th
        Photo
      %th
      %th
      %th
  %tfoot
    %tr
      %td{:colspan => 666}
        = pluralize( @authors.count, 'Author')
  %tbody
    - @authors.each do |author|
      %tr{ :class => cycle("even","odd") }
        %td
          = h author.username
        %td
          = h author.email
        %td
          = image_tag author.photo.url(:small), :size => "20x20", :alt => ""
          -# :height => "50%", :width => "50%",
        %td
          = link_to get_icon_show, author, title: 'View Author'
        %td
          = link_to get_icon_edit, edit_author_path(author), title: 'Edit Author'
        %td
          = link_to get_icon_delete, author, confirm: 'Are you sure?',  title: 'Delete Author', method: :delete

%div.subinfo
  = will_paginate @authors




