= content_for :header_title do
  Gamez Listing

%h2 Gamez Listing
%table.tablelist
  %thead
    %tr
      %th Title
      %th Rating
      %th Added
      %th User
      - if permitted_to? :edit, :games
        %th EDIT
      - if permitted_to? :destroy, :games
        %th DESTROY
  %tfoot
    %tr
      %td{:colspan => 666}
        = pluralize( @games.count, 'Gamez')
  - @games.each do |game|
    %tr{ :class => cycle("even","odd") }
      - usr = User.find(game.user_id)
      %td
        = link_to game.title, game
      %td
        = rating_to_title(game.rating)
      %td
        = game.created_at.to_s(:time_format_main)
      %td
        -if current_user && current_user.id == usr.id
          = link_to "me", user_path(usr)
        -else
          = link_to usr.username, user_path(usr)
      - if permitted_to? :edit, game
        %td
          = link_to 'Edit', edit_game_path(game)
      - if permitted_to? :destroy, game
        %td
          = link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete
= will_paginate @games
