<% content_for :header_title do %>Gamez Listings<% end %>

<h1>Listing games</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
	<% usr = User.find(game.user_id) %>
    <td><%= link_to usr.username, user_path(usr) %></td>
    <td><%= link_to game.title, game %></td>
    <td><%= game.rating %></td>
	<% if permitted_to? :edit, game %>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
	<% end %>
	<% if permitted_to? :destroy, game %>
    <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
