<h1>All the World's Authors</h1>
<!--<div class="article" style="width:786px;">-->
<table style="width:100%;">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<!--</table>
</div>
<div class="article" id="scroll_table">
<table style="width:100%;">-->
<% @authors.each do |author| %>
  <tr>
    <td><%= author.username %></td>
    <td><%= author.email %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<!--</div>-->


<%= link_to 'New Author', new_author_path %>
