= content_for :header_title do
  Admin - Userz Listing

%h2 Admin - Userz Listing
%table.tablelist
  %thead
    %tr
      %th ID
      %th Rank
      %th Name
      %th Username
      %th Created
      %th Gamez
      %th Edit
      %th Destroy
  %tfoot
    %tr
      %td{:colspan => 666}
        = pluralize( @users.count, 'Userz')
  - @users.each do |user|
    %tr{ :class => cycle("even","odd") }
      %td
        = user.id
      %td
        = Role.find(user.role_id).name
      %td
        = "#{user.fname} #{user.lname}"
      %td
        = link_to user.username, admin_user_path(user)
      %td
        = user.created_at.to_s(:time_format_main)
      %td
        = Game.count(:conditions => {:user_id => user.id} )
      %td
        = link_to 'Edit', edit_admin_user_path(user)
      %td
        = link_to 'Destroy', [:admin, user], confirm: 'Are you sure?', method: :delete

= will_paginate @users

= link_to 'New Userz', new_admin_user_path