= content_for :header_title do
  Member Userz Listing

%h2 Member Userz Listing
%table.tablelist
  %thead
    %tr
      %th Name
      %th Username
      %th Last Login
      %th Number of Games
      - if permitted_to? :edit, :users
        %th EDIT
      - if permitted_to? :destroy, :users
        %th DESTROY
  %tfoot
    %tr
      %td{:colspan => 666}
        = pluralize( @users.count, 'Userz')
  - @users.each do |user|
    %tr{ :class => cycle("even","odd") }
      %td
        = "#{user.fname} #{user.lname}"
      %td
        = link_to user.username, member_user_path(user)
      %td
        = "last login?"
      %td
        = Game.count(:conditions => {:user_id => user.id} )
      - if permitted_to? :edit, user
        %td
          = link_to 'Edit', edit_member_user_path(user)
      - if permitted_to? :destroy, user
        %td
          = link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete

= will_paginate @games
