%div.editform
  = form_for(@role) do |f|
    - if @role.errors.any?
      %div#error_explanation
        %h2
          = "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:</h2>"
        %ul
          - @role.errors.full_messages.each do |msg|
            %li
              = msg

    %div.fieldtitle
      = f.label :name
    %div.field
      = f.text_field :name
    %div.actions
      = f.submit