<% content_for :subtitle do %>
  <!-- Articles Index)-->
<% end %>
<p id="notice"><%= notice %></p>
<div class="double">
    <div class="half"><h1>All the World's Articles</h1>
    </div><div class="half">
    <%= link_to 'Create an Article', new_article_path, title: 'new' %>
    </div>
</div>

<table id="articleList">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author Name</th>
      <th>Body</th>
      <th>Creation Date</th>
      <th></th><th></th><th></th>
    </tr>
  </thead>
  <tfoot>
    <tr><td colspan="666">&nbsp;</td></tr>
  </tfoot>
  <tbody>
  <% @articles.each do |article| %>
    <tr><!-- style="background: #<%= cycle("DDD","FFF") %>;">-->
      <td><%= h truncate(article.title, :length=>20, :omission=>'...') %></td>
          <% @author = Author.find_by_id(article.author_id) %>
      <td><%= h @author.username %></td>
      <td><%= h truncate(article.body, :length=>30, :omission=>'...') %></td>
      <td><%= article.created_at.to_s(:time_format_main) %></td>
      <td><%= link_to 'Shw', article, title: 'View Article' %></td>
      <td><%= link_to 'Edt', edit_article_path(article), title: 'Edit Article' %></td>
      <td><%= link_to 'Del', article, title: 'Delete Article', confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
<p><%= will_paginate @articles %></p>
<div class="subinfo">
    <%= pluralize( @articles.count, 'Article') %>.
</div>
<br />

