-author = Author.find_by_id(@article.author_id)

%p#notice
  =notice

%ul.linklist
  %li
    =link_to 'List all Articles', articles_path, title: 'View all Articles'
  %li
    =link_to get_icon_edit, edit_article_path(@article), title: 'Edit this Article'
  %li
    =link_to get_icon_delete, @article, confirm: 'Are you sure?', method: :delete, title: 'Delete this Article'
  %li
    =mail_to  author.email, get_icon_mail, :subject => "Re: #{@article.title}", :body => article_url(@article), title: "Email #{author.username }"
%div.spacer
%h1
  =@article.title
%h3
  ="by #{author.username}. #{pluralize(@article.edit_count,'edit')} since #{@article.created_at.strftime("%b. %d, %Y")}"
%p
  = @article.body

